<!DOCTYPE html>
<html>
  <head>
    <title>Plain Proxy</title>
    <link rel='stylesheet' href='/PlainProxy/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="Description" content="Creates Printer Friendly verisons of
    Magic: The Gathering cards by only displaying the important info">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
