#cards_area {
  width: 100%;
  height: 300px;
  display: block;
}
#create_button {
  display: block;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
}
.center {
  width: 400px;
  margin: auto;
}
.center p, h1 {
  text-align: center;
}
.card {
  box-sizing: border-box;
  padding: 4px;
  margin: -1px;
  border: 1px dashed gray;
  width:230px;
  height:321px;
  float: left;
  page-break-inside: avoid;
}
.card div {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0 3px;
}
.card div p,pre {
  margin: auto;
  white-space: pre-wrap;
}
.header {
  width: 100%;
  height: 7.5%;
}
.header p {
  text-align: right;
}
.namebox {
  width: 100%;
  height: 35%;
  font-size: 2em;
}
.namebox .name {
  text-align: center;
}
.typebox {
  width: 100%;
  height: 7.5%;
}
.textbox {
  width: 100%;
  height: 40%;
}
.textbox p {
  display: inline;
  margin: 0;
  float: left;
}
.footerbox {
  width: 100%;
  height: 10%;
}
.footerbox p {
  text-align: right;
  font-size: 27px;
  box-sizing: border-box;
}
